<mat-list>
  <h1 *ngIf="isCurrentViewFavorites">Your Favorite Videos:</h1>
  <mat-list-item *ngFor="let item of videoList">
    <img [src]="item.snippet.thumbnails.medium.url" (click)="onVidClicked(item)"/>
    <div class="my-list-item-text"
         (click)="onVidClicked(item)"
         [ngClass]="{'Collapse': isNavOpen}">
      <div>
        <h3 class="itemListTitle">{{ item.snippet.title }}</h3>
      </div>
      <div>
        <p class="itemListDesc"
           [ngClass]="{'itemDescWithNav': isNavOpen}"> {{ item.snippet.description }}</p>
      </div>
    </div>
    <button mat-icon-button class="fav-button">
      <mat-icon [ngClass]="{'favoritePressed': item.saveButtonPressed }">favorite</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
